.RGBTuneBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  max-width: 200px;
}
.RGBTuneBox-input-controls-wrapper {
  margin: 0 0 10px;
}
.RGBTuneBox-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}
