.RGBTuneBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  max-width: 240px;
  font-weight: 500;
  font-size: 14px;
  color: #9a9898;
}

.RGBTuneBox-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}
